
<style>

.card {
    background-color: #fff;
}
</style>
<br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <md-content layout-padding>
   <div class="card">
       <div class="header">
           <h3>Add Medication</h3>
       </div>
       <hr>
       <div class="body">


<div>
  <button type="button" style="margin-left: 80%;"><a href="#/doctormydoctors">View Medications</a></button>





<form name="doctorForm" class="container-fluid" ng-submit="submit()">
 <div class="row">
   <div class="col-xs-4">
     <md-input-container>
       <label>Ordering Provider</label>
       <input  type="text" name="patname" id="patname" ng-model ="doctor.firstName" >

     </md-input-container>
   </div>

     <div class="col-xs-4">
       <md-input-container>
         <label>Sending To </label>
         <input  type="text" name="patname" id="patname" ng-model ="doctor.lastName" ng-pattern="/^(\D)+$/" ng-required="true">
         <div ng-messages="doctorForm.patname.$error">
           <div ng-message="required">doctor Name is required.</div>
           <div ng-message="pattern">Please Enter letters only.</div>
           <div ng-message="minlength">doctor Name is too short..</div>
              <div ng-message="maxlength">doctor Name is too long.</div>
         </div>
       </md-input-container>
     </div>
   <div class="col-xs-4">
     <md-input-container>
       <label class="id">Order Date </label>
       <input name="dob" ng-model ="doctor.dob" datepicker-config="datepickerConfig"   ng-required="true" ng-flat-datepicker>
       <div ng-messages="doctorForm.dob.$error">
         <div ng-message="required">DOB is required.</div>
       </div>
     </md-input-container>
   </div></div>

   <div class="row">

      <div class="col-xs-4">
     <md-input-container>
       <label>Medicine Name Strength </label>
       <input type="text" name="age" id="age" ng-model ="doctor.age"  ng-required="true">
       <div ng-messages="doctorForm.age.$error">
         <div ng-message="required">Age is required.</div>
         <div ng-message="pattern">Please Enter numbers only.</div>

       </div>
     </md-input-container>
   </div>

    <div class="col-xs-4">
     <md-input-container>
        <label>Frequeny </label>
       <md-select name="gender" id="gender" placeholder="Gender" ng-change="genId()" ng-model="doctor.gender" ng-required="true">
         <md-option ng-repeat="o in gender" ng-value="o">{{o}}</md-option>
       </md-select>
       <div ng-messages="doctorForm.gender.$error">
         <div ng-message="required">Gender is required.</div>
       </div>
     </md-input-container>
   </div>
   <div class="col-xs-4">
     <md-input-container>
       <label>Duration </label>
       <input type="text" name="mobile" id="mobile" ng-model ="doctor.mobile"  maxlength="10" ng-pattern ="/^(\d)+$/" ng-minlength="10" ng-maxlength="10" ng-required="true">
       <div ng-messages="doctorForm.mobile.$error">
         <div ng-message="required">Mobile No is required.</div>
         <div ng-message="pattern">Please Enter Valid Mobile No.</div>
         <div ng-message="minlength">Mobile No is too short..</div>
            <div ng-message="maxlength">Mobile No is too long.</div>
       </div>
     </md-input-container>
   </div></div>

   <div class="row">

   <div class="col-xs-4">
     <md-input-container>
       <label>Medication Instruction</label>
       <input type="text" name="email" id="email" ng-model ="doctor.email" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-required="true">
       <div ng-messages="doctorForm.email.$error">
         <div ng-message="required">Email is required.</div>
           <div ng-message="pattern">Please Enter Valid Email.</div>
       </div>
     </md-input-container>
   </div>


   <div class="col-xs-4">
     <md-input-container>
       <label>Signature</label>&nbsp;
       <input type="file" name="profileimage" id="profileimage"  ng-model ="doctor.profileimage" file-model ="myFile"  accept=".jpg,.jpeg,.png">
       <div ng-messages="doctorForm.profileimage.$error">
         <div ng-message="required">profile Image is required.</div>
       </div>
     </md-input-container>
   </div>


 </div>


<md-button class="md-primary" ng-click="updatereminder()" >Back</md-button>
    <md-button class="md-primary"  ng-click="addmedication()">Save & Next</md-button>

</form>

</div>
</div>
</div>
    </md-content>
</div>
