<!-- /*<style>

.card {
    background-color: #fff;
}
#calendar {
		max-width: 900px;
		margin: 0 auto;
	}
</style>


<br>
	<div id='calendar'></div>
    <div ng-controller="appointmentController">
   <md-content layout-padding>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <div class="card">
          <div class="header">
              <h2>Appointment Schedule</h2>
          </div>
               <hr>
          <div class="body">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                  <div class="header">
                      <h3>Appointment Schedule</h3>
                  </div>
                  <hr>



</div>
<div class="col-lg-8 col-md-8 col-sm-8 col-xs-8">
  <div class="header">
      <h3>List Of Upcoming Appointments</h3>
  </div>
  <hr>
              <table class="table">
              <thead>
              <tr>
                   <th>S.No</th>
                   <th>Appointment On</th>
               <th>Reason To Visit</th>
               <th>Doctor</th>
               <th>Action</th>

              </tr>
              </thead>
              <tbody  ng-repeat="m in appointList |filter:serchingId">
              <tr>
               <td>{{m.id}}</td>
               <td>{{m.receivedby}}</td>
               <td>{{m.description}}</td>
               <td>{{m.priority}}</td>
               <td>{{m.receivedon}}</td>

              <td>  <button type="button" ng-click="">Edit</button>
              <button type="button" ng-click="">Delete</button></td>

              </tr>
              </tbody>
              </table>

            </div>
          </div>
</div>


</div>
</div>
    </md-content>
</div>
 <script>
$(document).ready(function() {

    // page is now ready, initialize the calendar...

    $('#calendar').fullCalendar({
        // put your options and callbacks here
        left:   'Calendar',
        center: '',
        right:  'today prev,next'
    })

});

</script>

<script>

	$(document).ready(function() {

		$('#calendar').fullCalendar({
			header: {
				left: 'prev,next today',
				center: 'title',
				right: 'month,agendaWeek,agendaDay,listWeek'
			},
			defaultDate: '2017-05-12',
			navLinks: true, // can click day/week names to navigate views
			editable: true,
			eventLimit: true, // allow "more" link when too many events
			events: [
				{
					title: 'All Day Event',
					start: '2017-05-01'
				},
				{
					title: 'Long Event',
					start: '2017-05-07',
					end: '2017-05-10'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2017-05-09T16:00:00'
				},
				{
					id: 999,
					title: 'Repeating Event',
					start: '2017-05-16T16:00:00'
				},
				{
					title: 'Conference',
					start: '2017-05-11',
					end: '2017-05-13'
				},
				{
					title: 'Meeting',
					start: '2017-05-12T10:30:00',
					end: '2017-05-12T12:30:00'
				},
				{
					title: 'Lunch',
					start: '2017-05-12T12:00:00'
				},
				{
					title: 'Meeting',
					start: '2017-05-12T14:30:00'
				},
				{
					title: 'Happy Hour',
					start: '2017-05-12T17:30:00'
				},
				{
					title: 'Dinner',
					start: '2017-05-12T20:00:00'
				},
				{
					title: 'Birthday Party',
					start: '2017-05-13T07:00:00'
				},
				{
					title: 'Click for Google',
					url: 'http://google.com/',
					start: '2017-05-28'
				}
			]
		});

	});

</script> -->


<style>

.card {
    background-color: #fff;
}
.calendar_sec:hover{box-shadow: 0 1px 5px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2); transition: all 150ms linear;}
.calendar_sec{background: #fff;padding:15px !important; min-height: 50px; box-shadow: none; position: relative; margin-bottom: 20px; transition: .5s; border: 1px solid #f2f2f2; border-radius: 0;}
.month_head{position:relative; margin:0px !important;padding:10px 0px;background:#09b9ac;color:#FFF !important;font-size:24px !important;}
.month_head .fa-angle-left{position: absolute;left:5px;font-size:30px;top:50%;margin-top:-15px;}
.month_head .fa-angle-right{position: absolute;right:5px;font-size:30px;top:50%;margin-top:-15px;}
.month_head h2{margin:0px;}
mwl-calendar .cal-month-box [class*=cal-cell], mwl-calendar .cal-year-box [class*=span]{min-height:50px !important;}
mwl-calendar .cal-month-day{height:50px !important;}
/*.cal-day-open{background:#0c0;display:inline-block;}*/
mwl-calendar .cal-slide-content {background-color: #495469;}
mwl-calendar #cal-week-box{display:none;}
.cal-row-head{background:#d2d2d2;    padding: 3px;}
md-content.md-default-theme, md-content {color: rgba(0, 0, 0, 1);}
mwl-calendar .cal-month-box .cal-day-today span[data-cal-date]{font-size: 1.2em;}
.event_rgt{padding:15px;}
.event_rgt table td {background: #f2f2f2;text-align: left; padding: 7px 10px; font-weight: normal; border-bottom: 1px solid #e1e1e1; border-right: 1px solid #e1e1e1; }
/*.event_rgt table tr:hover td { background: #3d4c5a; color: #fff; }*/
.event_rgt table{ border: 1px solid #e1e1e1; width: 100%;border-left:0px !important;}
.event_rgt table td:first-child{border-left:3px solid #09b9ac;}
.event_rgt:hover { box-shadow: 0 1px 5px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2); transition: all 150ms linear; }
.doc_she_head{padding:30px 15px;}
.doc_she_head:hover{ box-shadow: 0 1px 5px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.2); transition: all 150ms linear; }
</style>
<br>
<div class="col-sm-12 col-xs-12">

  <md-content layout-padding>
   <div class="card">


       <div class="body">
         <h3 class="doc_she_head">Doctor Schedule</h3>
<div class="calendar_sec col-sm-8 col-xs-12" ng-controller="appointmentController as vm">
  <div class="month_head">
  <i class="fa fa-angle-left" aria-hidden="true" mwl-date-modifier
    date="vm.viewDate"
    decrement="vm.calendarView"
    ng-click="vm.cellIsOpen = false"></i>
  <h2 class="text-center">{{ vm.calendarTitle }}</h2>
  <i class="fa fa-angle-right" aria-hidden="true"   mwl-date-modifier
    date="vm.viewDate"
    increment="vm.calendarView"
    ng-click="vm.cellIsOpen = false"></i>
</div>
<!--  <div class="row">

     <div class="col-md-6 text-center">
      <div class="btn-group">

        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          decrement="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Previous
        </button>
        <button
          class="btn btn-default"
          mwl-date-modifier
          date="vm.viewDate"
          set-to-today
          ng-click="vm.cellIsOpen = false">
          Today
        </button>
        <button
          class="btn btn-primary"
          mwl-date-modifier
          date="vm.viewDate"
          increment="vm.calendarView"
          ng-click="vm.cellIsOpen = false">
          Next
        </button>
      </div>
    </div>

    <br class="visible-xs visible-sm">

     <div class="col-md-6 text-center">
      <div class="btn-group">
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'year'" ng-click="vm.cellIsOpen = false">Year</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'month'" ng-click="vm.cellIsOpen = false">Month</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'week'" ng-click="vm.cellIsOpen = false">Week</label>
        <label class="btn btn-primary" ng-model="vm.calendarView" uib-btn-radio="'day'" ng-click="vm.cellIsOpen = false">Day</label>
      </div>
    </div>

  </div>-->

  <!-- <br> -->

  <mwl-calendar
    events="vm.events"
    view="vm.calendarView"
    view-title="vm.calendarTitle"
    view-date="vm.viewDate"
    on-event-click="vm.eventClicked(calendarEvent)"
    on-event-times-changed="vm.eventTimesChanged(calendarEvent); calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
    cell-is-open="vm.cellIsOpen"
    day-view-start="06:00"
    day-view-end="22:59"
    day-view-split="30"
    cell-modifier="vm.modifyCell(calendarCell)"
    cell-auto-open-disabled="true"
    on-timespan-click="vm.timespanClicked(calendarDate, calendarCell)">
  </mwl-calendar>

  <br><br><br>

  <h3 id="event-editor">
    Edit events
    <button
      class="btn btn-primary pull-right"
      ng-click="vm.addEvent()">
      Add new
    </button>
    <div class="clearfix"></div>
  </h3>

  <table class="table table-bordered">

    <thead>
      <tr>
        <th>Title</th>
        <!-- <th>Primary color</th>
        <th>Secondary color</th> -->
        <th>Starts at</th>
        <!-- <th>Ends at</th> -->
        <th>Remove</th>
      </tr>
    </thead>

    <tbody>
      <tr ng-repeat="event in vm.events track by $index">
        <td>
          <input
            type="text"
            class="form-control"
            ng-model="event.title">
        </td>
        <!-- <td>
          <input class="form-control" colorpicker type="text" ng-model="event.color.primary">
        </td>
        <td>
          <input class="form-control" colorpicker type="text" ng-model="event.color.secondary">
        </td> -->
        <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.startsAt"
              is-open="event.startOpen"
              close-text="Close" >
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'startOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.startsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td>
        <!-- <td>
          <p class="input-group" style="max-width: 250px">
            <input
              type="text"
              class="form-control"
              readonly
              uib-datepicker-popup="dd MMMM yyyy"
              ng-model="event.endsAt"
              is-open="event.endOpen"
              close-text="Close">
            <span class="input-group-btn">
              <button
                type="button"
                class="btn btn-default"
                ng-click="vm.toggle($event, 'endOpen', event)">
                <i class="glyphicon glyphicon-calendar"></i>
              </button>
            </span>
          </p>
          <div
            uib-timepicker
            ng-model="event.endsAt"
            hour-step="1"
            minute-step="15"
            show-meridian="true">
          </div>
        </td> -->
        <td>
          <button
            class="btn btn-danger"
            ng-click="vm.events.splice($index, 1)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>

  </table>
</div>
<div class="col-sm-4 col-xs-12 event_rgt">
    <h3>Events</h3>
    <br>
  <!-- <div class="header">
      <h4>List Of Upcoming Appointments</h4>
  </div>
  <hr>
              <table class="table">

              <tr>
                   <th>S.No</th>
                   <th>Patient Name</th>
               <th>Reason To Visit</th>
               <th>Action</th>

              </tr>

               <tbody  ng-repeat="m in appointList |filter:serchingId">
              <tr>
               <td>{{m.id}}</td>
               <td>{{m.receivedby}}</td>
               <td>{{m.description}}</td>


              <td>  <button type="button" ng-click="">View</button></td>


              </tr>
               </tbody>
              </table> -->


  <table>

  <tr>
    <td>Maria Anders</td>

  </tr>
  <tr>
    <td>Francisco Chang</td>

  </tr>
  <tr>
    <td>Roland Mendel</td>

  </tr>

</table>

</div>

</div>
</div>
    </md-content>
</div>
