
<style>

.card {
    background-color: #fff;
}
</style>
<br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <md-content layout-padding>
   <div class="card">
       <div class="header">
           <h2>Manage Layouts</h2>
       </div>
       <hr>
       <div class="body">
<div>
  Panel-1<br><br><select ng-model= "managelayout.panel1" >
    <option value="" disabled selected>Select panel</option>
      <option>type1</option>
      <option>type2</option>
      <option>type3</option>
  </select><br><br>

  Panel-2<br><br><select ng-model= "managelayout.panel2" >
    <option value="" disabled selected>Select panel</option>
      <option>type1</option>
      <option>type2</option>
      <option>type3</option>
  </select><br><br>

  Panel-3<br><br><select ng-model= "managelayout.panel3" >
    <option value="" disabled selected>Select panel</option>
      <option>type1</option>
      <option>type2</option>
      <option>type3</option>
  </select><br><br>

  Panel-4<br><br><select ng-model= "managelayout.panel4" >
    <option value="" disabled selected>Select panel</option>
      <option>type1</option>
      <option>type2</option>
      <option>type3</option>
  </select><br><br>

  Panel-5<br><br><select ng-model= "managelayout.panel5" >
    <option value="" disabled selected>Select panel</option>
      <option>type1</option>
      <option>type2</option>
      <option>type3</option>
  </select><br><br>

  Panel-6<br><br><select ng-model= "managelayout.panel6" >
    <option value="" disabled selected>Select panel</option>
      <option>type1</option>
      <option>type2</option>
      <option>type3</option>
  </select><br><br>

    <button ng-click="addlayoutSetting()" align="center">Submit</button>



</div>
</div>
</div>
    </md-content>
</div>
