<style>


.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    height: 260px;
    margin-bottom: 0px;
}

.fb-image-profile
{
    margin: -175px 10px 20px 80px;
    z-index: 9;
    width: 20%;
}


.tabbable-panel {
  border:1px solid #eee;
  padding: 10px;
}

/* Default mode */
.tabbable-line > .nav-tabs {
  border: none;
  margin: 0px;
}
.tabbable-line > .nav-tabs > li {
  margin-right: 2px;
}
.tabbable-line > .nav-tabs > li > a {
  border: 0;
  margin-right: 0;
  color: #737373;
}
.tabbable-line > .nav-tabs > li > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open, .tabbable-line > .nav-tabs > li:hover {
  border-bottom: 4px solid #fbcdcf;
}
.tabbable-line > .nav-tabs > li.open > a, .tabbable-line > .nav-tabs > li:hover > a {
  border: 0;
  background: none !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.open > a > i, .tabbable-line > .nav-tabs > li:hover > a > i {
  color: #a6a6a6;
}
.tabbable-line > .nav-tabs > li.open .dropdown-menu, .tabbable-line > .nav-tabs > li:hover .dropdown-menu {
  margin-top: 0px;
}
.tabbable-line > .nav-tabs > li.active {
  border-bottom: 4px solid #f3565d;
  position: relative;
}
.tabbable-line > .nav-tabs > li.active > a {
  border: 0 !important;
  color: #333333;
}
.tabbable-line > .nav-tabs > li.active > a > i {
  color: #404040;
}
.tabbable-line > .tab-content {
  margin-top: -3px;
  background-color: #fff;
  border: 0;
  border-top: 1px solid #eee;
  padding: 15px 0;
}
.portlet .tabbable-line > .tab-content {
  padding-bottom: 0;
}

/* Below tabs mode */

.tabbable-line.tabs-below > .nav-tabs > li {
  border-top: 4px solid transparent;
}
.tabbable-line.tabs-below > .nav-tabs > li > a {
  margin-top: 0;
}
.tabbable-line.tabs-below > .nav-tabs > li:hover {
  border-bottom: 0;
  border-top: 4px solid #fbcdcf;
}
.tabbable-line.tabs-below > .nav-tabs > li.active {
  margin-bottom: -2px;
  border-bottom: 0;
  border-top: 4px solid #f3565d;
}
.tabbable-line.tabs-below > .tab-content {
  margin-top: -10px;
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-bottom: 15px;
}

.menu_title {
    padding: 15px 10px;
    border-bottom: 1px solid #eee;
    margin: 0 5px;
}


@media (max-width:768px){

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
}
}

.card {
    background-color: #fff;
}
</style>

<br>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <md-content layout-padding>
   <div class="card">
       <div class="header">
           <h2>{{Currentuser.fname}} Profile</h2>
       </div>
       <hr>
       <div class="body">

 <div>
   <div class="row">
     <div class="fb-profile">
         <img  ng-show="!coverPic" align="left" class="fb-image-lg" src="images/cover.jpg" alt="Profile image example"/>

         <img ng-show="coverPic" align="left" class="fb-image-lg" src="{{coverPic}}" alt="Profile image example"/>
<div  style="margin-left: 75%;margin-top: -5px;">
         <button ng-show="coverbutton" ng-click="coverChange()"> <img src="images/change.jpg" alt="Change" style=" height: 40px;width: 55px;margin-top:-25px">   </button>

         <div ng-show="changecover">
                     <input type="file" name="profileimage" id="profileimage"   file-model ="myFile"  accept=".jpg,.jpeg,.png">

         <button ng-click="changeCover()">Confirm</button></div></div>

         <img align="left" class="fb-image-profile thumbnail" src="{{dp}}" alt="Profile image example"/>
         <div class="fb-profile-text">
             <h1>{{Currentuser.fname}}</h1>

         </div>
     </div>
   </div>
 </div> <!-- /container fluid-->


   <div class="col-sm-8">

     <div class="col-sm-6">
     <a ng-show="uploadlink" ng-click="showdp()">Change Profile Picture</a>


     <div ng-show="changedp">
                 <input type="file" name="profileimage" id="profileimage"  ng-model ="patient.profileimage" file-model ="myFile"  accept=".jpg,.jpeg,.png">

     <button ng-click="changeDp()">Change</button></div></div>

<div class="col-sm-6">
     <a href="#/changepassword">Change Password</a>



   </div></div>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
     <div class="menu_title">
     <h3>Personal Details</h3>
     </div>
     <div class="panel-body">
    
     <div class="row"   ng-show="currentperson.firstName">
         <div class="col-lg-12">
              <div class="form-group">
                  <label for="email"><b>First Name</b></label>
                   <p> {{currentperson.firstName}}</p>
              </div>

     </div>
 </div>
 <div class="row"  ng-show="currentperson.lastName">
     <div class="col-lg-12">
          <div class="form-group">
              <label for="email"><b>Last Name</b></label>
               <p> {{currentperson.lastName}}</p>
          </div>

 </div>
</div>
<div class="row"  ng-show="currentperson.dob">
    <div class="col-lg-12">
         <div class="form-group">
             <label for="email"><b>Date of Birth</b></label>
              <p> {{currentperson.dob}}</p>
         </div>

</div>
</div>
<div class="row"  ng-show="currentperson.email">
    <div class="col-lg-12">
         <div class="form-group">
             <label for="email"><b>Email ID</b></label>
              <p> {{currentperson.email}}</p>
         </div>

</div>
</div>
<div class="row" ng-show="currentperson.mobile">
    <div class="col-lg-12">
         <div class="form-group">
             <label for="email"><b>Mobile No</b></label>
              <p> {{currentperson.mobile}}</p>
         </div>

</div>
</div>
<div class="row" ng-show="currentperson.address">
    <div class="col-lg-12">
         <div class="form-group">
             <label for="email"><b>Address</b></label>
              <p> {{currentperson.address}}</p>
         </div>

</div>
</div>
 </div>
   </div>
 </div>

</div>
</div>
    </md-content>
</div>
