<style>
.card {
    background-color: #fff;
}

md-input-container > md-select {
    margin-top: 0;
    padding-bottom: 0; }
md-input-container > md-select > md-select-label {
    width: 100%; }
md-input-container > md-radio-group {
    padding: 24px 2px 0; }
md-input-container > md-radio-group > md-radio-button {
    margin: 8px 5px 0;
    display: inline-block; }
</style>

<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

  <md-content layout-padding>
   <div class="card">
       <div class="header">
           <h2>View Details</h2>
       </div>
       <hr>
       <div class="body">
         <button type="button" style="margin-left: 80%;"><a href="#/usermanagement_doctor">Add Users</a></button>





<div class="but_list">
      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
       <ul id="myTab" class="nav nav-tabs" role="tablist">
         <li role="presentation" class="active"><a data-target="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true"> Doctor</a></li>
         </ul>


     <div id="myTabContent" class="tab-content">
       <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
           <br>
           
<div ng-show="DoctorForm">
<div class="row">
  <div class="col-sm-3"><input type="text" ng-model="doct.firstName"></div>
  <div class="col-sm-3"><input type="text" ng-model="doct.lastName"></div>
  <div class="col-sm-3"><input type="text" ng-model="doct.userName"></div>
  <div class="col-sm-3"><input type="text" ng-model="doct.email"></div>
</div>
<br>
<div class="row">
  <div class="col-sm-3"><input type="text" ng-model="doct.mobile"></div>
  <div class="col-sm-3"><input type="text" ng-model="doct.facebook"></div>
  <div class="col-sm-3"><button type="button" ng-click="updateDoctor()">Update</button></div>
  <div class="col-sm-3"></div>
</div>
</div>

         <table class="table">
             <thead>
               <tr>
                 <th>Doctor Name </th>
                 <th>UserName</th>
                 <th>Email</th>
                 <th>FacilityName  </th>
                 <th>Speciality</th>
                 <th>Mobile</th>
                 <th>Facebook</th>
<!--                  <th>Edit/Delete</th> -->
               </tr>
             </thead>
             <tbody>

               <tr ng-repeat="d in doctorlist">
                 <td>{{d.firstName+" "+d.lastName}}</td>
                 <td>{{d.userName}}</td>
                 <td>{{d.email}}</td>
                 <td>{{d.facilityName}}</td>
                 <td>{{d.Speciality}}</td>
                 <td>{{d.mobile}}</td>
                 <td>{{d.facebook}}</td>
<!--                  <td ><button class="glyphicon glyphicon-pencil" ng-show="doceditShow" ng-click="editDoctor(d)">Edit</button>
                 <button class="glyphicon glyphicon-trash" ng-show="docdelShow" ng-click="delDoctor(d)">Delete</button></td>
 -->
               </tr>

             </tbody>
           </table>
       </div>










     </div>
    </div>
    </div>
  </div>
  </div>
      </md-content>
  </div>
